lib/3rdParty/dlib/x64/
lib/local/LandmarkDetector/x64/
exe/FaceLandmarkImg/x64/
exe/FaceLandmarkVid/x64/
exe/FeatureExtraction/x64/
x64/Release/
x64/Debug/
x64/face_images
build/
Release/
Debug/
face_images
ipch/
x64/Debug/
/Debug/
/Release/
lib/3rdParty
.vs
*.sdf
*.opensdf
*.suo
*.opensdf
*.db
*.opendb
